<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<section class="p-3 my-container">
  <h1 id="user__dashboard">DASHBOARD</h1>
  <%= current_user.present? ? "" : "" %>
  <h4 id = "user_welcome">Welcome, <%= current_user.username %></h4>
  <div class="row">
    <hr class="hr-primary" />
    <ol class="breadcrumb bread-primary">
      
    </ol>
  </div>

  <div class="col-md-10" , id="user__cards_container">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-users"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">Your Subscription Status</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">
                   <% if current_user %>
                    <h5>
                      <%= " "%><%if current_user.status == 'paid' %><%= link_to 'SUBSCRIBED TO MINIBOOKS', mini_books_path %>
                      <% else %><%= link_to 'FREE USER, SUBSCRIBE NOW!', products_path %>
                      <% end %>
                    </h5>
                  <%end %>
                  </h2>
                </div>
                <div class="col-4 text-right">
                  <span>STATUS</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-gold">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Mainbook Entries</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  <%= current_user.main_books.count%> <%= ' entries' %>
                </h2>
              </div>
              <div class="col-4 text-right">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% running_total=0 %> <% running_total_credit=0 %> <%
      running_total_debit=0 %> <% @main_books.each do |mainbook| %> <% if
      mainbook.user==current_user %> <%
      running_total=calculate_total_balance(running_total,
      calculate_balance(mainbook.debit_mainb, mainbook.credit_mainb)) %> <%
      running_total_debit=calculate_total_debit(running_total_debit,
      mainbook.debit_mainb) %> <%
      running_total_credit=calculate_total_credit(running_total_credit,
      mainbook.credit_mainb) %> <% end %> <% end %>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-blue-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-users"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Mainbook</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  <%= number_to_currency(running_total, unit: ' ₱ ' ) %>
                </h2>
              </div>
              <div class="col-4 text-right">
                <span>Total Balance </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-gold">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-ticket-alt"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Mainbook</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  <%= number_to_currency(running_total_debit, unit: ' ₱ ' ) %>
                </h2>
              </div>
              <div class="col-4 text-right">
                <span>Total Debit (+) </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-blue-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-ticket-alt"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Mainbook</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  <%= number_to_currency(running_total_credit, unit: ' ₱ ' )
                  %>
                </h2>
              </div>
              <div class="col-4 text-right">
                <span>Total Credit (-)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="charts__container">
    <div>
      <div class="row">
        <div class="col-sm-5 col-md-6">
          <a id="mainbook_entries_date__chart_cont">
            <h6>Mainbook Entries Date</h6>
            <%= area_chart @main_book_graph, :id=> 'mainbook_date__chart' %>
          </a>
        </div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
          <a id="mainbook_entries_date__chart_cont">
            <h6></h6>
            
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
