<%= form_with scope: :mini_book, url: mini_books_path, model: @mini_book, :local => true do |form| %>
    <% if @mini_book.errors.any? %>
    <ul>
      <% @mini_book.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

<div id = "book__entry__form">
  <h1 id ="mainbook__entry">Create Minibook</h1>
<div class="field", id = "book_entry_field">
  <div id = "book_field_label"><%= form.label :"MiniBook Name" %></div>
  <div id = "book_field_input"><%= form.text_field :minibook_name, :required => true %></div>
</div>

<div class="field", id = "book_entry_field">
 <%= form.number_field :user_id, id: :mini_book_user_id, value: current_user.id, readonly: true, type: :hidden %>
</div>

<div class="field", id = "book_entry_field">
  <%= form.hidden_field :id, :value => params[:id]%>
</div>

</div>
<div id = "entry_submit_button_cont">
  <button class="btn", id= "entry_submit_button"><%= link_to "Back", mini_books_path %></button>
  <%= form.submit :"Create Minibook", class: 'btn', id: "entry_submit_button" %>
</div>
<% end %>
