<section id="hero__forms" class="hero d-flex align-items-center">
  <div class="main-form-page sign-up">
    <div class="col-lg-6 content-container">
      <%= image_tag("phinance-iso.png", :alt => "Phinance-logo", :class => "form-page-image") %>
      <h2 id="h2-reg-content">Stop recording your financials manually, digitized with PHinance now!</h2>
    </div>

    <div class="col-lg-6 form-container" id="reg-form">
      <%= render "users/shared/error_messages", resource: resource %> </br>
      <h1 id="h1-reg-form">Nice choice! Sign up here</h1> </br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
        <div class="form-input-container">
        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Email address</label>
        </div> </br>

        <div class="form-floating">
          <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Full Name</label>
        </div> </br>

        <div class="form-floating">
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Username</label>
        </div> </br>

        <div class="form-floating">
          <%= f.text_field :company, autofocus: true, autocomplete: "company", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Company</label>
        </div> </br>

        <div class="form-floating">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Password</label>
        </div> </br>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class:"form-control", id:"floatingInput" %>
          <label for="floatingInput">Confirm Password</label>
        </div> </br>

        <div class="actions">
          <%= f.submit "Sign up", class: "reg-submit-btn" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>

